<!DOCTYPE html>
<html lang="it">
    <head>
        <div class="nav-item">
            <a href="/logout" class="btn btn-outline-danger btn-sm">Esci</a>
        </div>
        <nav>
        {% if session.get('ruolo') == 4 %}
            <a href="/admin">Gestione Personale</a>
            <a href="/statistiche">Statistiche Vendite</a>
        {% elif session.get('ruolo') == 1 %}
            <a href="/mie_auto">Le mie auto</a>
            <a href="/prenota">Prenota intervento</a>
            <a href="/catalog">Catalogo Pubblico</a>
        
        {% elif session.get('ruolo') == 2 %}
            <a href="/catalog">Catalogo Pubblico</a>
            <a href="/salespearson">Dashboard Vendite</a>
            <a href="/transaction_wizard">Nuova Transazione</a>
            <a href="/test_drive_calendar">Calendario Test Drive</a>
        {% elif session.get('ruolo') == 5 %}
            <a href="/catalog">Catalogo Pubblico</a>
            <a href="/test_drive_calendar">Calendario Test Drive</a>
        {% endif %}
    </nav>
    </head>
<body>
    
    {% block content %}{% endblock %}

</body>
</html>