<!DOCTYPE html>
<html lang="it">
    <head>
        <div class="nav-item">
            <a href="/logout" class="btn btn-outline-danger btn-sm">Esci</a>
        </div>
        <nav>
        {% if session.get('ruolo') == 4 %}
            <a href="/admin">Gestione Personale</a>
            <a href="/statistiche">Statistiche Vendite</a>
        {% elif session.get('ruolo') == 1 %}
            <a href="/mie_auto">Le mie auto</a>
            <a href="/prenota">Prenota intervento</a>
        {% endif %}
    </nav>

</body>
</html>