{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>👥 Anagrafica Clienti</h3>
    <button class="btn btn-info text-white">+ Registra Cliente</button>
</div>

<div class="card shadow-sm">
    <div class="card-body p-0">
        <table class="table table-striped table-hover m-0">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome e Cognome</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Città</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for cli in clienti %}
                <tr>
                    <td>{{ cli.id }}</td>
                    <td><strong>{{ cli.nome }}</strong></td>
                    <td>{{ cli.telefono }}</td>
                    <td>{{ cli.email }}</td>
                    <td>{{ cli.citta }}</td>
                    <td><button class="btn btn-sm btn-outline-secondary">Modifica</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}